if BOARD_NEXYS_A7

config BOARD
	default "nexys_a7"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 100000000   # 100 MHz

# Enable the KlaussCPU UART as the console.
config UART_KLAUSSCPU
	default y

config UART_CONSOLE
	default y

# Enable the KlaussCPU timer.
config KLAUSSCPU_TIMER
	default y

config HEAP_MEM_POOL_SIZE
	default 65536

endif # BOARD_NEXYS_A7
